
# /server/etc/mysql/my.cnf
[mysqld]
plugin-load-add                   = auth_socket.so
basedir                           = /server/mysql
datadir                           = /server/data
pid_file                          = /run/mysql/mysqld-84.pid
socket                            = /run/mysql/mysqld-84.sock
port                              = 3306
log_error                         = /server/logs/mysql/error.log
log-bin                           = /server/logs/mysql/binlog
log_bin_index                     = /server/logs/mysql/binlog.index
binlog_expire_logs_seconds        = 604800
max_binlog_size                   = 104857600
skip_name_resolve                 = ON
bind_address                      = *
#ssl_ca                           = /server/data/ca.pem
#ssl_cert                         = /server/data/server-cert.pem
#ssl_key                          = /server/data/server-key.pem
#require_secure_transport         = ON
init_file                         = /server/etc/mysql/init.sql
