<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="非static目录，统一指向到index.php" stopProcessing="true">
                    <match url="^((?!static/).*)$" />
                     <conditions logicalGrouping="MatchAll">
                       <add input="{HTTP_HOST}" pattern="^((?!static/).*)$" />
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                     </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="server_name" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" value="Tengine" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
