cat > /etc/systemd/system/nginx.service << EOF
[Unit]
Description=nginx-1.28.x
After=network.target

[Service]
Type=notify
UMask=0027
User=nginx
Group=nginx

AmbientCapabilities=CAP_NET_BIND_SERVICE

RuntimeDirectory=nginx
RuntimeDirectoryMode=0750

ExecStartPre=/server/nginx/sbin/nginx -t -c /server/etc/nginx/nginx.conf
ExecStart=/server/nginx/sbin/nginx -g 'daemon off;' -c /server/etc/nginx/nginx.conf
ExecReload=/server/nginx/sbin/nginx -s reload
ExecStop=/server/nginx/sbin/nginx -s quit

KillMode=mixed
TimeoutStopSec=90

Restart=on-failure
RestartSec=10s

LimitNOFILE=65536

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX

ReadWritePaths=/server/logs/nginx

[Install]
WantedBy=multi-user.target
EOF
