cat > /etc/systemd/system/postgres.service << 'EOF'
[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
UMask=0027
User=postgres
Group=postgres

RuntimeDirectory=postgres
RuntimeDirectoryMode=0750

ExecStart=/server/postgres/bin/postgres -D /server/pgData
ExecReload=/bin/kill -HUP $MAINPID

KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=300
TimeoutSec=infinity

Restart=on-failure
RestartSec=10s

LimitNOFILE=65536
LimitNPROC=65536
LimitMEMLOCK=infinity

NoNewPrivileges=yes
PrivateTmp=true
ProtectHome=yes

[Install]
WantedBy=multi-user.target
EOF
