cat > /etc/systemd/system/redis.service << 'EOF'
[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
Type=notify
UMask=0027
User=redis
Group=redis

RuntimeDirectory=redis
RuntimeDirectoryMode=0750

ExecStart=/server/redis/bin/redis-server /server/etc/redis/config/redis.conf
ExecReload=/bin/kill -s HUP $MAINPID

KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=90
TimeoutSec=infinity

Restart=on-failure
RestartSec=10s

LimitNOFILE=10000
LimitNPROC=4096
LimitMEMLOCK=infinity

NoNewPrivileges=yes
PrivateTmp=true
ProtectHome=yes

[Install]
WantedBy=multi-user.target
EOF
