<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="server_name" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" value="Tengine" />
                </rule>
            </outboundRules>
            <rules>
                <clear />
                <rule name=".php后缀重定向到.html" enabled="true" stopProcessing="false">
                    <match url="^(.*)\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}.html" logRewrittenUrl="false" />
                </rule>
                <rule name="重定向到 php-chunked-xhtml 子目录" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="php-chunked-xhtml/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
